@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
  overflow: auto;
  height: 100vh;
}

.sidebar a {
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #e7e7e7;
}

select {
  background-color: transparent;
  /* Set the initial background color to transparent */
}

select:focus {
  background-color: #161c23;
  /* Set the background color to yellow when the select element is in focus */
}

select:not(:focus) {
  background-color: transparent;
  /* Keep the initial background color when the select element is not in focus */
}

.device-btn:hover {
  background-color: #C78D4E !important;
}